*
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.hero
{

	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.2),
	rgba(0,0,0,0.8)),url(https://images.unsplash.com/photo-1505740420928-5e560c06d30e?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
	background-position: center;
	background-size: cover;
	overflow-x: hidden;
	position: relative;
}
/* nav */
.nav
{
	display: flex;
	padding: 40px 120px;
}
.navlogo h1
{
	font-size: 45px;
	font-family: 'Dancing Script', cursive;
}

.navlinks
{
	flex: 1;
}
.navlinks ul
{
	margin left: 50px;
	display: inline;
}
.navlinks ul li
{
	list-style: none;
	display: inline-block;
	padding: 20px 60px; 
}
.navlinks ul a
{
	color: black;
	text-decoration:none;
	font-size: 13px;
	width: 30px;
}
.navlinks ul a:hover
{
	color: white;
	transition: 0.3s;
}
.navlinks ul li::after
{
	content: '';
	width: 0;
	height: 2px;
	background:yellow;
	display: block;
	margin:auto;
	transition: .5s;
}
.navlinks ul li:hover::after
{
	width: 100%;
}
.btn
{
	padding: 10px 20px;
	border: 0;
	background:yellow;
	font-weight: bold; 
	cursor: pointer;
	border-radius: 20px;
}
.btn:hover
{
	background: linear-gradient( to right ,yellow,orange,red);
}
.navlinks .btn
{
	float: right;
}


/* BANNER */
.banner h1
{
	font-family: 'Amatic SC', cursive;
}
.banner
{
	margin:80px 130px;
	color: white;

}
.banner h1
{
	font-size: 64px;
	margin-bottom: 30px;
}
.banner h1 span
{
	color: yellow;
	font-family: 'Amatic SC', cursive;
}
/* sidebar */
.vertical
{
	height: 100%;
	background: black;
	top: 0;
	left: 0;
	position: absolute;
}
.search
{
	height: 60%;
	width: 80px;
}
.search .fa
{
 margin: 45px 23px;
 display: block;
 color: white;
 font-size: 30px;
 cursor: pointer; 
}
.social
{
	height: 35%;
	width: 80px;
	background: yellow;
	text-align: center;
	padding-top: 27%;
	bottom: 0;
	position: absolute;
}
.social .fa
{
	margin: 15px 23px;
	display: block;
	padding: 8px;
	border:1px solid black;
	border-radius: 50%;
	cursor: pointer;
}
.social .fa:hover
{
	border: 1px solid white;
}

	.nav .fa
	{
		display: none;
	}

@media(max-width: 700px)
{
	.vertical
	{
		display: none;
	}
	.banner
	{
		margin:80px 40px;
	}
	.banner h1
	{
		font-size: 50px;
	}
	.nav
	{
		padding: 10px 30px;
	}
	.fa-bars
	{
		position: absolute;
		right: 20px; 
		top:10px;
	}
	.nav .fa
	{
		display: block;
		color: black;
		margin: 10px 25px;
		font-size: 22px;
		cursor: pointer;
	}
	.navlinks
	{
		height: 100vh;
		width: 200px;
		background: grey;
		opacity: 0.8;
		top: 0;
		right: -200px;
		position: absolute;
		text-align: left;
		z-index: 2;
	}
	.navlinks ul a
	{
		display: block;
	}
	.navlinks .btn
	{
		float: none;
		margin-left: 25px;
		margin-top: 10px;
	}
}