*
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}
.hero
{

	height: 100vh;
	background-image:linear-gradient(rgba(0,0,0,0.2),
	rgba(0,0,0,0.8)),url(https://images.unsplash.com/photo-1505740420928-5e560c06d30e?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
	background-position: center;
	background-size: cover;
	overflow-x: hidden;
	position: relative;
}
.nav
{
	display: flex;
	padding: 40px 120px;
}
.navlogo h1
{
	text-decoration: underline;
	color: black;
	cursor: pointer;
	font-size: 45px;
	font-family: 'Dancing Script', cursive;
}

.navlinks
{
	flex: 1;
}
.navlinks ul
{
	margin left: 50px;
	display: inline;
}
.navlinks ul li
{
	list-style: none;
	display: inline-block;
	padding: 20px 60px; 
}
.navlinks ul a
{
	color:white;
	text-decoration:none;
	font-size: 13px;
	width: 30px;
}
.navlinks ul a:hover
{
	color: yellow;
	transition: 0.3s;
}
.navlinks ul li::after
{
	content: '';
	width: 0;
	height: 2px;
	background:yellow;
	display: block;
	margin:auto;
	transition: .5s;
}
.navlinks ul li:hover::after
{
	width: 100%;
}
.btn
{
	display: inline-flex;
	padding: 15px 20px;
	border: none;
	font-size: 16px;
	text-transform: uppercase;
	color: #fff0e6;
	font-weight: 600;
	background: black;
	letter-spacing: 1px;
	border-radius: 50px;
	border: 1px solid #fd3535;
	cursor: pointer;
	outline: none;
	background: linear-gradient(147deg,#fe8a39 0%,#fd3838 74%);
}
.btn:hover
{
	background: linear-gradient(147deg,#fd3838 0%, #fe8a39 74%);
}
.navlinks .btn
{
	float: right;
}

/* konten 1 */
.blog1
{
	left: 50px;
	position: absolute;
	height: 370px;
	width: 95%;
	max-width: 850px;
	margin: auto;
	background:white;
	border-radius: 25px; 
	box-shadow: 0 10px 50px rgba(252,56,56,.3); 
}
.blog1 .innerblog1
{
	display: flex;
	align-items: center;
	justify-content: center;	
	padding: 0 25px;
	height: 360px;

}
.innerblog1 .img1
{
	height: 260px;
	width: 260px;
	overflow: hidden;
	flex-shrink: 0;
	border-radius: 25px;
	box-shadow: 2px 3px rgba(252,56,56,.3);
}
.img1 img
{
	height: 100%;
	width: 100%;
	object-fit: cover;
	cursor: pointer;
}
.content1
{
	padding: 0 20px 0 35px;
	width: 530px;
	margin-left: 50px;

}
.content1 span
{
	display: block;
	color: #7b7992;
	margin-bottom: 15px;
	font-size: 22px;
	font-weight: bold;
}
.content1 .title
{
	font-size: 30px;
	font-weight: 700;
	color: #0d0925;
	margin-bottom: 20px;
}
.content1 .text
{
	font-size: 19px;
	color: #4e4a67;
	margin-bottom: 30px;
	text-align: justify;
	line-height: 1.5em;
}
.content1 button
{
	display: inline-flex;
	padding: 15px 20px;
	border: none;
	font-size: 16px;
	text-transform: uppercase;
	color: #fff0e6;
	font-weight: 600;
	background: black;
	letter-spacing: 1px;
	border-radius: 50px;
	border: 1px solid #fd3535;
	cursor: pointer;
	outline: none;
	background: linear-gradient(147deg,#fe8a39 0%,#fd3838 74%);
}
.content1 button:hover
{
	background: linear-gradient(147deg,#fd3838 0%, #fe8a39 74%);
}

/* konten 2 */

.blog2
{
	left: 50px;
	position: absolute;
	height: 370px;
	width: 95%;
	max-width: 850px;
	margin: auto;
	background:white;
	border-radius: 25px; 
	box-shadow: 0 10px 50px rgba(252,56,56,.3); 
}
.blog2 .innerblog2
{
	display: flex;
	align-items: center;
	justify-content: center;	
	padding: 0 25px;
	height: 360px;

}
.innerblog2 .img2
{
	height: 260px;
	width: 260px;
	overflow: hidden;
	flex-shrink: 0;
	border-radius: 25px;
	box-shadow: 2px 3px rgba(252,56,56,.3);
}
.img2 img
{
	height: 100%;
	width: 100%;
	object-fit: cover;
	cursor: pointer;
}
.content2
{
	padding: 0 20px 0 35px;
	width: 530px;
	margin-left: 50px;

}
.content2 span
{
	display: block;
	color: #7b7992;
	margin-bottom: 15px;
	font-size: 22px;
	font-weight: bold;
}
.content2 .title
{
	font-size: 30px;
	font-weight: 700;
	color: #0d0925;
	margin-bottom: 20px;
}
.content2 .text
{
	font-size: 19px;
	color: #4e4a67;
	margin-bottom: 30px;
	text-align: justify;
	line-height: 1.5em;
}
.content2 button
{
	display: inline-flex;
	padding: 15px 20px;
	border: none;
	font-size: 16px;
	text-transform: uppercase;
	color: #fff0e6;
	font-weight: 600;
	background: black;
	letter-spacing: 1px;
	border-radius: 50px;
	border: 1px solid #fd3535;
	cursor: pointer;
	outline: none;
	background: linear-gradient(147deg,#fe8a39 0%,#fd3838 74%);
}
.content2 button:hover
{
	background: linear-gradient(147deg,#fd3838 0%, #fe8a39 74%);
}


/* konten 3 */

.blog3
{
	left: 50px;
	position: absolute;
	height: 370px;
	width: 95%;
	max-width: 850px;
	margin: auto;
	background:white;
	border-radius: 25px; 
	box-shadow: 0 10px 50px rgba(252,56,56,.3); 
}
.blog3 .innerblog3
{
	display: flex;
	align-items: center;
	justify-content: center;	
	padding: 0 25px;
	height: 360px;

}
.innerblog3 .img3
{
	height: 260px;
	width: 260px;
	overflow: hidden;
	flex-shrink: 0;
	border-radius: 25px;
	box-shadow: 2px 3px rgba(252,56,56,.3);
}
.img3 img
{
	height: 100%;
	width: 100%;
	object-fit: cover;
	cursor: pointer;
}
.content3
{
	padding: 0 20px 0 35px;
	width: 530px;
	margin-left: 50px;

}
.content3 span
{
	display: block;
	color: #7b7992;
	margin-bottom: 15px;
	font-size: 22px;
	font-weight: bold;
}
.content3 .title
{
	font-size: 30px;
	font-weight: 700;
	color: #0d0925;
	margin-bottom: 20px;
}
.content3 .text
{
	font-size: 19px;
	color: #4e4a67;
	margin-bottom: 30px;
	text-align: justify;
	line-height: 1.5em;
}
.content3 button
{
	display: inline-flex;
	padding: 15px 20px;
	border: none;
	font-size: 16px;
	text-transform: uppercase;
	color: #fff0e6;
	font-weight: 600;
	background: black;
	letter-spacing: 1px;
	border-radius: 50px;
	border: 1px solid #fd3535;
	cursor: pointer;
	outline: none;
	background: linear-gradient(147deg,#fe8a39 0%,#fd3838 74%);
}
.content3 button:hover
{
	background: linear-gradient(147deg,#fd3838 0%, #fe8a39 74%);
}



.prev button
{
	position: absolute;
	margin-left: 50px;
	display: inline-flex;
	padding: 15px 20px;
	border: none;
	font-size: 16px;
	text-transform: uppercase;
	color: #fff0e6;
	font-weight: 600;
	background: black;
	letter-spacing: 1px;
	border-radius: 50px;
	border: 1px solid #fd3535;
	cursor: pointer;
	outline: none;
	background: linear-gradient(147deg,#fe8a39 0%,#fd3838 74%);
}

.prev button:hover
{
	background: linear-gradient(147deg,#fd3838 0%, #fe8a39 74%);
}